In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [17]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
162,tt2294449,50000000,188441614,22 Jump Street,Jonah Hill|Channing Tatum|Dave Franco|Ice Cube...,Phil Lord|Christopher Miller,They're not 21 anymore,After making their way through high school (tw...,112,Crime|Comedy|Action,Columbia Pictures|Original Film|Media Rights C...,6/5/2014,7.0,2014
916,tt0303714,12000000,75781642,Barbershop,Ice Cube|Anthony Anderson|Cedric the Entertain...,Tim Story,Everyone's gettin' lined up.,A day in the life of a barbershop on the south...,102,Comedy|Drama,Metro-Goldwyn-Mayer (MGM),4/1/2002,6.2,2002
431,tt1231583,65000000,211780824,Due Date,Zach Galifianakis|Robert Downey Jr.|Michelle M...,Todd Phillips,Leave Your Comfort Zone,Peter Highman must scramble across the US in f...,95,Comedy|Drama,Legendary Pictures|Green Hat Films|Warner Bros.,11/4/2010,6.2,2010
1198,tt0816711,200000000,531865000,World War Z,Brad Pitt|Mireille Enos|Abigail Hargrove|Sterl...,Marc Forster,Remember Philly!,Life for former United Nations investigator Ge...,116,Action|Drama|Horror|Science Fiction|Thriller,Paramount Pictures|GK Films|Skydance Productio...,6/20/2013,6.7,2013
823,tt1637706,10000000,17273593,Our Idiot Brother,Paul Rudd|Elizabeth Banks|Zooey Deschanel|Emil...,Jesse Peretz,Everybody has one.,Everybody has one. The sibling who is always j...,90,Comedy|Drama,The Weinstein Company,8/26/2011,5.7,2011

In [18]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [19]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [20]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

In [21]:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [22]:
answers['2'] = '2. Gods and Generals (tt0279111)' #+

In [23]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [24]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+

In [25]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [26]:
answers['4'] = '2. 110' #+

In [27]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [28]:
answers['5'] = '1. 107' #+

In [29]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [30]:
answers['6'] = '5. Avatar (tt0499549)' #+

In [31]:
data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [32]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #+

In [33]:
data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [34]:
answers['8'] = '1. 1478' #+

In [35]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [36]:
answers['9'] = '4. The Dark Knight (tt0468569)' #+

In [37]:
data[data['release_year'] == 2008][data[data['release_year'] == 2008]['profit'] == data[data['release_year'] == 2008]['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [38]:
answers['10'] = '4. The Dark Knight (tt0468569)' #+

In [39]:
data[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)][data[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)]['profit'] == data[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)]['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [40]:
answers['11'] = '3. Drama' #+

In [41]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['genres'] = data.genres.apply(lambda x: x.split('|'))
data_genres = data[['genres','profit']].explode('genres')
data_genres['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [42]:
answers['12'] = '1. Drama' #+

In [43]:
data_genres[data_genres['profit'] > 0]['genres'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [44]:
answers['13'] = '5. Peter Jackson' #+

In [45]:
data = pd.read_csv('movie_bd_v5.csv')
data.director = data.director.apply(lambda x: x.split('|'))
director_profit = data[['director','revenue']].explode('director')
director_profit.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [46]:
answers['14'] = '3. Robert Rodriguez' #+

In [47]:
data = pd.read_csv('movie_bd_v5.csv')
data.director = data.director.apply(lambda x: x.split('|'))
data.genres = data.genres.apply(lambda x: x.split('|'))
data_genres = data[['director','genres']].explode('director').explode('genres')
data_genres[data_genres['genres'] == 'Action'].groupby(['director'])['director'].count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [48]:
answers['15'] = '3. Chris Hemsworth' #+

In [49]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|'))
data_cast = data[['cast','revenue', 'release_year']].explode('cast')
data_cast[data_cast['release_year'] == 2012].groupby('cast').revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [50]:
answers['16'] = '3. Matt Damon' #+

In [51]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|'))
data_t = data[data['budget'] > data['budget'].mean()]
data_y = data_t[['cast','original_title']].explode('cast')

data_z = data_y.groupby(['cast'])['cast'].count().sort_values(ascending=False)

data_z

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [52]:
answers['17'] = '2. Action' #+

In [53]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|'))
data.genres = data.genres.apply(lambda x: x.split('|'))
data_t = data[['cast','genres']].explode('cast').explode('genres')
data_t[data_t['cast'] == 'Nicolas Cage'].groupby(['genres'])['genres'].count().sort_values(ascending=False)

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [54]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+

In [55]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data.production_companies = data.production_companies.apply(lambda x: x.split('|'))
data_t = data[['production_companies','profit', 'original_title']].explode('production_companies')
data_t = data_t[data_t.production_companies == 'Paramount Pictures']
data_t[data_t.profit == data_t.profit.min()]

    production_companies    profit        original_title
925   Paramount Pictures -64831034  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [56]:
answers['19'] = '5. 2015' #+

In [57]:
data = pd.read_csv('movie_bd_v5.csv')
data.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [58]:
answers['20'] = '1. 2014' #+

In [59]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data.production_companies = data.production_companies.apply(lambda x: x.split('|'))
data_t = data[['production_companies','profit', 'release_year']].explode('production_companies')
data_t = data_t[data_t.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].agg(['sum']).sort_values('sum', ascending = False)

data_t

                     sum
release_year
2014          2292949646
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1844008221
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1282142579
2012          1258020056
2002          1022709901
2015           870368348
2006           625351872
2000           452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [60]:
answers['21'] = '4. Сентябрь' #+

In [61]:
data = pd.read_csv('movie_bd_v5.csv')

data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['release_date'].apply(lambda x: x[0]).value_counts()
#data = data.groupby('mounth')['imdb_id'].agg(['count'])

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [62]:
answers['22'] = '2. 450' #+

In [63]:
data = pd.read_csv('movie_bd_v5.csv')

data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['mounth'] = data['release_date'].apply(lambda x: x[0])

data_t = data.groupby('mounth')['mounth'].agg(['count'])
data_t.loc['6'] + data_t.loc['7'] + data_t.loc['8']
#data = data.groupby('mounth')['imdb_id'].agg(['count'])

count    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [64]:
answers['23'] = '5. Peter Jackson' #+

In [65]:
data = pd.read_csv('movie_bd_v5.csv')

data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['mounth'] = data['release_date'].apply(lambda x: x[0])

data_t = data[(data['mounth'] == '12') | (data['mounth'] == '1') | (data['mounth'] == '2')]
data_t.director = data_t.director.apply(lambda x: x.split('|'))
director_imdb_id = data_t[['director','imdb_id']].explode('director')
director_imdb_id.groupby('director').imdb_id.count().sort_values(ascending=False)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [66]:
answers['24'] = '5. Four By Two Productions' #+

In [67]:
data2=data.copy(deep=True)
data2['title_length'] = data2['original_title'].apply(lambda x: len(x))
data2['production_companies'] = data2['production_companies'].str.split('|')
data2=data2.explode('production_companies')
data2.groupby('production_companies')['title_length'].agg(['max', 'mean','sum']).sort_values("mean", ascending = False).head(50)

                                   max  mean  sum
production_companies
Four By Two Productions             83  83.0   83
Jim Henson Company, The             59  59.0   59
Dos Corazones                       47  47.0   47
Polsky Films                        46  46.0   46
Museum Canada Productions           46  46.0   46
The Saul Zaentz Company             49  43.0   86
Lucasfilm                           50  41.5  166
Total Entertainment                 41  41.0   41
Second Mate Productions             42  41.0   82
Harry Potter Publishing Rights      41  41.0   41
Zohar International                 41  41.0   41
Cool Music                          41  41.0   41
3Foot7                              41  41.0   41
Iron Film                           41  41.0   41
TSBD Canada Productions             41  41.0   41
Ozumi Films                         40  40.0   40
Propeler                            40  40.0   40
P of A Productions Limited          40  40.0   40
United Plankton Pictures            40  40.0   40
Nickelodeon Animation Studios       40  40.0   40
Samuel Goldwyn Films                47  39.0   78
MIRACLE Productions GmbH & Co. KG   39  39.0   39
The Javelina Film Company           39  39.0   39
Alberta Film Entertainment          58  38.0   76
Chris Brinker Productions           38  38.0   38
Mr. Smith Productions               37  37.0   37
Blue Flower Productions             37  37.0   37
Riff Raff Film Productions          37  37.0   37
Lipsync Productions                 37  37.0   37
Aramid Entertainment Fund           37  37.0   37
Natural Nylon Entertainment         37  37.0   37
JD Productions                      37  37.0   37
Alloy Entertainment                 37  37.0   37
Filmauro                            37  37.0   37
Unique Features                     37  37.0   37
Intandem Films                      37  37.0   37
Hammer & Tongs                      36  36.0   36
KC Medien AG                        36  36.0   36
What to Expect Productions          36  36.0   36
Capella International               36  36.0   36
Patalex IV Productions Limited      35  35.0   35
Sony                                35  35.0   35
Michael Cerenzie Productions        34  34.0   34
Unity Productions                   34  34.0   34
Sparkler Entertainment              34  34.0   34
Funky Buddha Productions            34  34.0   34
China Movie Channel                 34  34.0   34
Linsefilm                           34  34.0   34
The Collective Studios              33  33.0   33
Square USA                          33  33.0   33

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [68]:
answers['25'] = '3. Midnight Picture Show' #+

In [69]:
data2=data.copy(deep=True)
data2['overview_length'] = data2['overview'].apply(lambda x: len(x.split()))
data2['production_companies'] = data2['production_companies'].str.split('|')
data2=data2.explode('production_companies')
data2.groupby('production_companies')['overview_length'].agg(['max', 'mean','sum']).sort_values("mean", ascending = False).head(50)

                                       max        mean  sum
production_companies
Midnight Picture Show                  175  175.000000  175
Room 9 Entertainment                   161  161.000000  161
Heineken Branded Entertainment         159  159.000000  159
98 MPH Productions                     159  159.000000  159
Brookwell-McNamara Entertainment       156  156.000000  156
Lions Gate Family Entertainment        152  152.000000  152
Crest Animation Productions            152  152.000000  152
Art Pictures Studio                    147  147.000000  147
Starbucks Entertainment                144  144.000000  144
Cinema Gypsy Productions               144  144.000000  144
Great Wight Productions/ Osford Films  138  138.000000  138
Wayfare Entertainment                  138  138.000000  138
Sanctum Australia                      138  138.000000  138
Sudden Storm Productions               134  134.000000  134
Magical Elves Productions              132  132.000000  132
Scooter Braun Films                    132  132.000000  132
Disney Double Dare You (DDY)           130  130.000000  130
K. JAM Media                           127  127.000000  127
Konami                                 126  126.000000  126
Silent Hill DCP Inc.                   126  126.000000  126
Radical Studios                        169  125.000000  250
Oceana Media Finance                   122  122.000000  122
Pantheon Entertainment Corporation     122  122.000000  122
Innocence Productions                  122  122.000000  122
Omega Entertainment                    122  122.000000  122
David Ladd Films                       152  119.500000  239
O.N.C. Entertainment                   117  117.000000  117
Ten Thirteen Productions               115  115.000000  115
Crying Box Productions                 115  115.000000  115
Red Om Films                           115  115.000000  115
Liberty Films UK                       113  113.000000  113
Xingu Films                            113  113.000000  113
Limelight Fund                         113  113.000000  113
Lunar Industries                       113  113.000000  113
Double Nickel Entertainment            113  113.000000  113
Cappa Productions                      113  113.000000  113
Ex3 Productions                        113  113.000000  113
Panay Films                            111  111.000000  111
Esperanto Filmoj                       111  111.000000  111
Langley Park Production                111  111.000000  111
Broken Chair Flickz                    110  110.000000  110
Darlow Smithson Productions            109  109.000000  109
Alta Loma Entertainment                108  108.000000  108
Andalasia Productions                  108  108.000000  108
Varsity Pictures                       108  108.000000  108
Right Coast Productions                108  108.000000  108
China Film Group                       107  107.000000  107
Farewell Productions                   107  107.000000  107
Yash Raj Films                         107  107.000000  107
Hemisphere Media Capital               137  106.333333  319

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [70]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #+

In [71]:
border = data.quantile(0.99, numeric_only=True)['vote_average']
data_t = data[data['vote_average'] > border]
data_t[['original_title','vote_average']].sort_values('vote_average', ascending = False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [72]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #+

In [73]:
import itertools as it
data = pd.read_csv('movie_bd_v5.csv')
data_title = data.copy()
# п.1
data_title['cast'] = data_title['cast'].str.split('|')
# п.2 
data_title['cast'] = data_title['cast'].apply(lambda x: tuple(it.combinations(sorted(x),2)))
data_title
data_title['cast'].explode().value_counts()

(Daniel Radcliffe, Rupert Grint)        8
(Daniel Radcliffe, Emma Watson)         8
(Emma Watson, Rupert Grint)             8
(Helena Bonham Carter, Johnny Depp)     6
(Ben Stiller, Owen Wilson)              6
                                       ..
(Frances McDormand, Richard Jenkins)    1
(Sarah Murdoch, Shalom Harlow)          1
(Ben Whishaw, Helena Bonham Carter)     1
(Isla Fisher, Tom Wilkinson)            1
(C. Thomas Howell, Stephen Lang)        1
Name: cast, Length: 17943, dtype: int64

# Submission

In [74]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '4. The Dark Knight (tt0468569)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [75]:
# и убедиться что ни чего не пропустил)
len(answers)

27